# API Keys (Keep these secret and never commit actual values)
MONGODB_URI=mongodb://localhost:27017
VITE_GEMINI_API_KEY=AIzaSyC0sZUePWCuqRqkMFkHvuP6_SgKzlZT9A8
VITE_STEPFUN_API_KEY=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
VITE_NEWS_API_KEY=f26450ea98de48dd91f0f0b5063cb799
VITE_GOOGLE_CLIENT_ID=280389936654-7pbp25m9k1c7bh6q5h1fnhnsv1b63kvg.apps.googleusercontent.com
